<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>shopDescriptionFile</key>
		<string>shop_mathematik.html</string>
		<key>title</key>
		<string>Alle Facher Kaufen</string>
		<key>productID</key>
		<string>com.klett.AbiLernbox.IAPMathematik</string>
		<key>demoID</key>
		<string>MathematikDEMO</string>
		<key>color</key>
		<string>243,59,29</string>
		<key>shortDescription</key>
		<string>Mit diesem Paket Konnen Sie alle Abitur-Facher aus der App zusammen Kaufen and Geld sparen!</string>
		<key>correctionRects</key>
		<array>
			<string>{{391,29},{16,33}}</string>
			<string>{{375,23},{37,41}}</string>
			<string>{{391,29},{16,33}}</string>
		</array>
		<key>seperatorRect</key>
		<string>{{10,298},{398,0.2}}</string>
		<key>iconFile</key>
		<string>module_icon_mathematik.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Geschichte</string>
		<key>productID</key>
		<string>com.klett.AbiLernbox.IAPGeschichte</string>
		<key>demoID</key>
		<string>GeschichteDEMO</string>
		<key>color</key>
		<string>44,87,210</string>
		<key>shortDescription</key>
		<string>Die optimale Vorbereitung aufs Geschichte-Abi: Vom „langen&quot; 19. Jahrhundert bis zum Deutschland nach 1945.</string>
		<key>correctionRects</key>
		<array>
			<string>{{422,62},{16,33}}</string>
			<string>{{423,59},{9,33}}</string>
			<string>{{408,55},{36,42}}</string>
		</array>
		<key>bottomCorrections</key>
		<array>
			<string></string>
			<string>{{10,31},{16,2}}</string>
			<string></string>
		</array>
		<key>seperatorRect</key>
		<string>{{42,326},{386,0.2}}</string>
		<key>bottomCorrectionPages</key>
		<dict>
			<key>11</key>
			<dict>
				<key>1</key>
				<string>{{-1,-1},{0,0}}</string>
			</dict>
		</dict>
		<key>shopDescriptionFile</key>
		<string>shop_geschichte.html</string>
		<key>iconFile</key>
		<string>module_icon_geschichte.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Mathematik</string>
		<key>productID</key>
		<string>com.klett.AbiLernbox.IAPMathematik</string>
		<key>demoID</key>
		<string>MathematikDEMO</string>
		<key>color</key>
		<string>243,59,29</string>
		<key>shortDescription</key>
		<string>Algebra? Differenzialrechnung? Analytische Geometrie? Kein Problem mit der Abi-Lernbox Mathematik.</string>
		<key>correctionRects</key>
		<array>
			<string>{{391,29},{16,33}}</string>
			<string>{{391,26},{8,33}}</string>
			<string>{{375,23},{37,41}}</string>
		</array>
		<key>seperatorRect</key>
		<string>{{10,298},{398,0.2}}</string>
		<key>shopDescriptionFile</key>
		<string>shop_mathematik.html</string>
		<key>iconFile</key>
		<string>module_icon_mathematik.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Deutsch</string>
		<key>productID</key>
		<string>com.klett.AbiLernbox.IAPDeutsch</string>
		<key>demoID</key>
		<string>DeutschDEMO</string>
		<key>color</key>
		<string>0,172,211</string>
		<key>shortDescription</key>
		<string>Sicher ins Deutsch-Abi mit Themen zu Aufsatz, Methoden und Literatur vom Barock bis heute.</string>
		<key>correctionRects</key>
		<array>
			<string>{{389,29},{16,33}}</string>
			<string>{{391,27},{8,32}}</string>
			<string>{{376,23},{36,41}}</string>
		</array>
		<key>bottomCorrections</key>
		<array>
			<string>{{0,13},{420,2}}</string>
			<string></string>
			<string></string>
		</array>
		<key>seperatorRect</key>
		<string>{{10,298},{398,0.2}}</string>
		<key>shopDescriptionFile</key>
		<string>shop_deutsch.html</string>
		<key>iconFile</key>
		<string>module_icon_deutsch.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Biologie</string>
		<key>productID</key>
		<string>com.klett.AbiLernbox.IAPBiologie</string>
		<key>demoID</key>
		<string>BiologieDEMO</string>
		<key>color</key>
		<string>231,0,151</string>
		<key>shortDescription</key>
		<string>Der wichtigste Abi-Stoff für Biologie: Von der Zellbiologie über Gentechnik bis zur Evolution.</string>
		<key>correctionRects</key>
		<array>
			<string>{{422,62},{16,33}}</string>
			<string>{{423,59},{9,33}}</string>
			<string>{{408,55},{36,42}}</string>
		</array>
		<key>seperatorRect</key>
		<string>{{42,326},{386,0.2}}</string>
		<key>shopDescriptionFile</key>
		<string>shop_biologie.html</string>
		<key>iconFile</key>
		<string>module_icon_biologie.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Physik</string>
		<key>productID</key>
		<string>com.klett.AbiLernbox.IAPPhysik</string>
		<key>demoID</key>
		<string>PhysikDEMO</string>
		<key>color</key>
		<string>0,170,160</string>
		<key>shortDescription</key>
		<string>Das Physik-Abi meistern mit allen abi-relevanten Themen: Von der Mechanik bis zur Relativitätstheorie.</string>
		<key>correctionRects</key>
		<array>
			<string>{{422,59},{16,33}}</string>
			<string>{{423,59},{9,33}}</string>
			<string>{{408,55},{36,41}}</string>
		</array>
		<key>bottomCorrections</key>
		<array>
			<string></string>
			<string>{{13,44},{444,4}}</string>
			<string>{{13,44},{444,4}}</string>
		</array>
		<key>seperatorRect</key>
		<string>{{42,326},{386,0.2}}</string>
		<key>shopDescriptionFile</key>
		<string>shop_physik.html</string>
		<key>iconFile</key>
		<string>module_icon_physik.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Chemie</string>
		<key>productID</key>
		<string>com.klett.AbiLernbox.IAPChemie</string>
		<key>demoID</key>
		<string>ChemieDEMO</string>
		<key>color</key>
		<string>140,208,0</string>
		<key>shortDescription</key>
		<string>Die beste Abi-Vorbereitung für Chemie: Ganz egal, ob Reaktionskinetik, Redoxreaktionen oder Radioaktivität.</string>
		<key>correctionRects</key>
		<array>
			<string>{{422,59},{16,33}}</string>
			<string>{{423,59},{9,33}}</string>
			<string>{{408,55},{36,41}}</string>
		</array>
		<key>bottomCorrections</key>
		<array>
			<string>{{13,50},{444,6}}</string>
			<string>{{13,45},{444,3}}</string>
			<string>{{13,44},{444,4}}</string>
		</array>
		<key>seperatorRect</key>
		<string>{{42,326},{386,0.2}}</string>
		<key>shopDescriptionFile</key>
		<string>shop_chemie.html</string>
		<key>iconFile</key>
		<string>module_icon_chemie.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Englisch</string>
		<key>productID</key>
		<string>com.klett.AbiLernbox.IAPEnglisch</string>
		<key>demoID</key>
		<string>EnglischDEMO</string>
		<key>color</key>
		<string>0,165,19</string>
		<key>shortDescription</key>
		<string>Facts about the UK and the USA, language and literature: Alles Wichtige fürs Englisch-Abi.</string>
		<key>correctionRects</key>
		<array>
			<string>{{389,29},{16,33}}</string>
			<string>{{391, 30},{9,33}}</string>
			<string></string>
		</array>
		<key>bottomCorrections</key>
		<array>
			<string></string>
			<string>{{0,14},{420,2}}</string>
			<string></string>
		</array>
		<key>seperatorRect</key>
		<string>{{10,298},{398,0.2}}</string>
		<key>seperatorRectPages</key>
		<dict>
			<key>68</key>
			<string>{{42,326},{400,0.2}}</string>
		</dict>
		<key>shopDescriptionFile</key>
		<string>shop_englisch.html</string>
		<key>iconFile</key>
		<string>module_icon_englisch.png</string>
	</dict>
</array>
</plist>
