<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Abi-Lernbox.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ContentTableImportedSQL.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>ContentTableImporter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>ContentTableImporterSQLAll.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>IAPBiologie.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>IAPChemie.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>IAPDeutsch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>IAPEnglisch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>IAPGeschichte.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>IAPMathematik.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>IAPPhysik.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>KlettAbiLernboxen.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>PDFSearchIndexer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>PDFSearchIndexer2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Schulwissen.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>TEST_scrollviews.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>ThumbnailCreator Schulwissen.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>ThumbnailCreator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>22365A531A3873EB00F51B4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22365CBF1A3879BE00F51B4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>224450E2160B736E00993815</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>226CA36E1A39E6400044FCDF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>229098DF15C412BF009944A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22A0C7F0176DFCE0002FDF4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22A0C994176DFF32002FDF4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22A0CB38176DFF8F002FDF4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22A0CCDC176DFFD2002FDF4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22A0CE80176E000D002FDF4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22A0D024176E003C002FDF4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22A0D1C8176E0087002FDF4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22ABA1D71A01386D005AFA13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22AC834B15BCD227003F4411</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22B52A091A3B2B320081915B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22B52A211A3B2B320081915B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22CD7C3015E2545A00E3BAE0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22E3A34215A42A760067372B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22E84D3A15B5D4CD008B3E0E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
