<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Fonts</key>
	<dict>
		<key>GeneralCells</key>
		<dict>
			<key>Title</key>
			<dict>
				<key>Color</key>
				<string>50,50,50</string>
				<key>Font</key>
				<dict>
					<key>fontname</key>
					<string>Helvetica</string>
					<key>fontsize</key>
					<integer>14</integer>
					<key>scalefactor</key>
					<real>1.5</real>
				</dict>
			</dict>
		</dict>
		<key>Shop</key>
		<dict>
			<key>Description</key>
			<dict>
				<key>Font</key>
				<dict>
					<key>fontname</key>
					<string>Helvetica</string>
					<key>fontsize</key>
					<integer>14</integer>
					<key>scalefactor</key>
					<real>1.5</real>
				</dict>
				<key>Color</key>
				<string>50,50,50</string>
			</dict>
			<key>MenuItem</key>
			<dict>
				<key>Color</key>
				<string>50,50,50</string>
				<key>Font</key>
				<dict>
					<key>fontname</key>
					<string>Helvetica</string>
					<key>fontsize</key>
					<integer>13</integer>
					<key>scalefactor</key>
					<real>1.5</real>
				</dict>
			</dict>
			<key>MenuText</key>
			<dict>
				<key>Color</key>
				<string>50,50,50</string>
				<key>Font</key>
				<dict>
					<key>fontname</key>
					<string>Helvetica</string>
					<key>fontsize</key>
					<integer>12</integer>
					<key>scalefactor</key>
					<real>1.5</real>
				</dict>
			</dict>
		</dict>
		<key>DocumentView</key>
		<dict>
			<key>Note</key>
			<dict>
				<key>Font</key>
				<dict>
					<key>fontname</key>
					<string>HelveticaNeue-Light</string>
					<key>fontsize</key>
					<integer>12</integer>
					<key>scalefactor</key>
					<real>1.5</real>
				</dict>
				<key>Color</key>
				<string>50,50,50</string>
			</dict>
		</dict>
		<key>ModuleCells</key>
		<dict>
			<key>Percentage</key>
			<dict>
				<key>Font</key>
				<dict>
					<key>fontname</key>
					<string>Helvetica</string>
					<key>fontsize</key>
					<integer>10</integer>
					<key>scalefactor</key>
					<real>1.5</real>
				</dict>
				<key>Color</key>
				<string>50,50,50</string>
			</dict>
			<key>Description</key>
			<dict>
				<key>Font</key>
				<dict>
					<key>fontname</key>
					<string>Helvetica</string>
					<key>fontsize</key>
					<integer>10</integer>
					<key>scalefactor</key>
					<real>1.5</real>
				</dict>
				<key>Color</key>
				<string>50,50,50</string>
			</dict>
			<key>Title</key>
			<dict>
				<key>Font</key>
				<dict>
					<key>fontname</key>
					<string>Helvetica-Bold</string>
					<key>fontsize</key>
					<integer>12</integer>
					<key>scalefactor</key>
					<real>1.5</real>
				</dict>
				<key>Color</key>
				<string>50,50,50</string>
			</dict>
		</dict>
		<key>TableViews</key>
		<dict>
			<key>Notes</key>
			<dict>
				<key>Font</key>
				<dict>
					<key>fontname</key>
					<string>HelveticaNeue-Light</string>
					<key>fontsize</key>
					<integer>12</integer>
					<key>scalefactor</key>
					<real>1.5</real>
				</dict>
				<key>Color</key>
				<string>50,50,50</string>
			</dict>
			<key>Hits</key>
			<dict>
				<key>Font</key>
				<dict>
					<key>fontname</key>
					<string>Helvetica</string>
					<key>fontsize</key>
					<integer>10</integer>
					<key>scalefactor</key>
					<real>1.5</real>
				</dict>
				<key>Color</key>
				<string>50,50,50</string>
			</dict>
			<key>Counter</key>
			<dict>
				<key>Color</key>
				<string>50,50,50</string>
				<key>Font</key>
				<dict>
					<key>fontname</key>
					<string>Helvetica</string>
					<key>fontsize</key>
					<integer>13</integer>
					<key>scalefactor</key>
					<real>1.5</real>
				</dict>
			</dict>
			<key>Percentage</key>
			<dict>
				<key>Font</key>
				<dict>
					<key>fontname</key>
					<string>Helvetica</string>
					<key>fontsize</key>
					<integer>10</integer>
					<key>scalefactor</key>
					<real>1.5</real>
				</dict>
				<key>Color</key>
				<string>50,50,50</string>
			</dict>
			<key>PageNumber</key>
			<dict>
				<key>Color</key>
				<string>255,255,255</string>
				<key>Font</key>
				<dict>
					<key>fontname</key>
					<string>Helvetica-Bold</string>
					<key>fontsize</key>
					<real>12</real>
					<key>scalefactor</key>
					<real>1.5</real>
				</dict>
			</dict>
			<key>Title</key>
			<dict>
				<key>Color</key>
				<string>50,50,50</string>
				<key>Font</key>
				<dict>
					<key>fontname</key>
					<string>HelveticaNeue-Light</string>
					<key>fontsize</key>
					<real>14</real>
					<key>scalefactor</key>
					<real>1.5</real>
				</dict>
			</dict>
			<key>Info</key>
			<dict>
				<key>Color</key>
				<string>50,50,50</string>
				<key>Font</key>
				<dict>
					<key>fontname</key>
					<string>HelveticaNeue-Light</string>
					<key>fontsize</key>
					<real>14</real>
					<key>scalefactor</key>
					<real>1.5</real>
				</dict>
			</dict>
		</dict>
		<key>Imprint</key>
		<dict>
			<key>Font</key>
			<dict>
				<key>Color</key>
				<string>50,50,50</string>
				<key>Font</key>
				<dict>
					<key>fontname</key>
					<string>Helvetica</string>
					<key>fontsize</key>
					<integer>12</integer>
					<key>scalefactor</key>
					<real>1.5</real>
				</dict>
			</dict>
		</dict>
		<key>ContentOverlay</key>
		<dict>
			<key>Categories</key>
			<dict>
				<key>Font</key>
				<dict>
					<key>fontname</key>
					<string>Helvetica</string>
					<key>fontsize</key>
					<integer>14</integer>
					<key>scalefactor</key>
					<real>1.5</real>
				</dict>
				<key>Color</key>
				<string>179,179,179</string>
			</dict>
			<key>Pages</key>
			<dict>
				<key>Normal</key>
				<dict>
					<key>Font</key>
					<dict>
						<key>fontname</key>
						<string>Helvetica</string>
						<key>fontsize</key>
						<integer>12</integer>
						<key>scalefactor</key>
						<real>1.5</real>
					</dict>
					<key>Color</key>
					<string>179,179,179</string>
				</dict>
				<key>Highlighted</key>
				<dict>
					<key>Font</key>
					<dict>
						<key>fontname</key>
						<string>Helvetica</string>
						<key>fontsize</key>
						<integer>12</integer>
						<key>scalefactor</key>
						<real>1.5</real>
					</dict>
					<key>Color</key>
					<string>255,255,255</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>Images</key>
	<dict>
		<key>DocumentView</key>
		<dict>
			<key>Background</key>
			<string>content_cell_pattern@2x.png</string>
			<key>NoteIcon</key>
			<string>document_note_icon.png</string>
			<key>NoteBackground</key>
			<string>document_note_background.png</string>
			<key>NoteBackgroundTop</key>
			<string>document_note_background_top.png</string>
			<key>NoteIconMinimize</key>
			<string>document_note_icon_minimize.png</string>
			<key>NoteIconDelete</key>
			<string>document_note_icon_delete.png</string>
			<key>PopupMenu</key>
			<dict>
				<key>Buttons</key>
				<dict>
					<key>FullscreenNormal</key>
					<string>document_menu_icon_fullscreen_normal.png</string>
					<key>FullscreenSelected</key>
					<string>document_menu_icon_fullscreen_selected.png</string>
					<key>FavoriteNormal</key>
					<string>document_menu_icon_favorite_normal.png</string>
					<key>FavoriteSelected</key>
					<string>document_menu_icon_favorite_selected.png</string>
					<key>CheckNormal</key>
					<string>document_menu_icon_check_normal.png</string>
					<key>CheckSelected</key>
					<string>document_menu_icon_check_selected.png</string>
					<key>CrossNormal</key>
					<string>document_menu_icon_cross_normal.png</string>
					<key>CrossSelected</key>
					<string>document_menu_icon_cross_selected.png</string>
					<key>ShowNotesNormal</key>
					<string>document_menu_icon_shownotes_normal.png</string>
					<key>ShowNotesSelected</key>
					<string>document_menu_icon_shownotes_selected.png</string>
					<key>AddNoteNormal</key>
					<string>document_menu_icon_addnote_normal.png</string>
					<key>AddNoteSelected</key>
					<string>document_menu_icon_addnote_selected.png</string>
					<key>OpenMenu</key>
					<string>document_menu_icon_openmenu.png</string>
					<key>CloseMenu</key>
					<string>document_menu_icon_closemenu.png</string>
				</dict>
			</dict>
			<key>ThumbnailsBar</key>
			<dict>
				<key>Selection</key>
				<string>document_thumbnails_middle_background.png</string>
				<key>Background</key>
				<string>document_thumbnails_background.png</string>
			</dict>
			<key>SegmentedControl</key>
			<dict>
				<key>BackgroundPattern</key>
				<string>document_segment_background_pattern.png</string>
				<key>ShadowPattern</key>
				<string>document_segment_shadow_pattern.png</string>
				<key>ButtonSelected</key>
				<string>document_segment_button_selected.png</string>
				<key>ButtonDeselected</key>
				<string>document_segment_button_unselected.png</string>
			</dict>
		</dict>
		<key>Misc</key>
		<dict>
			<key>BlueArrowDown</key>
			<string>blue_arrow_down.png</string>
			<key>BlueArrowRight</key>
			<string>blue_arrow_right.png</string>
			<key>SeperatorPattern</key>
			<string>seperator_pattern.png</string>
			<key>PatternLinedBlue</key>
			<string>pattern_lined_blue.png</string>
			<key>PatternLinedRed</key>
			<string>pattern_lined_red.png</string>
			<key>PatternDashed</key>
			<string>pattern_dashed.png</string>
			<key>LearnStatusProgressBar</key>
			<dict>
				<key>Background</key>
				<string>module_cell_learning_progress_bar_background.png</string>
				<key>Foreground</key>
				<string>module_cell_learning_progress_bar_foreground.png</string>
			</dict>
		</dict>
		<key>TableViews</key>
		<dict>
			<key>LinedPattern</key>
			<string>search_bar_pattern.png</string>
			<key>ZigzagPattern</key>
			<string>zigzag.png</string>
			<key>Icons</key>
			<dict>
				<key>LearnStatus</key>
				<dict>
					<key>Cross</key>
					<string>content_card_Icon_cross.png</string>
					<key>Check</key>
					<string>content_card_Icon_check.png</string>
				</dict>
				<key>Card</key>
				<dict>
					<key>Favorite</key>
					<string>content_card_Icon_favorite.png</string>
					<key>Normal</key>
					<string>content_card_Icon_normal.png</string>
				</dict>
			</dict>
			<key>BackgroundPattern</key>
			<string>content_cell_pattern@2x.png</string>
		</dict>
		<key>TabBar</key>
		<dict>
			<key>Icons</key>
			<dict>
				<key>Favorites</key>
				<string>tab_bar_icon_favorites.png</string>
				<key>Notes</key>
				<string>tab_bar_icon_notes.png</string>
				<key>Stats</key>
				<string>tab_bar_icon_stats.png</string>
				<key>Contents</key>
				<string>tab_bar_icon_content.png</string>
				<key>Home</key>
				<string>tab_bar_icon_home.png</string>
			</dict>
			<key>Selection</key>
			<string>tab_bar_selection.png</string>
			<key>TopShadow</key>
			<string>tab_bar_top_shadow.png</string>
			<key>Background</key>
			<string>tab_bar_background.png</string>
		</dict>
		<key>NavigationBar - 2</key>
		<dict>
			<key>Background</key>
			<string>navigation_bar_background.png</string>
			<key>BackgroundLogo</key>
			<string>navigation_bar_background_logo.png</string>
			<key>BackgroundLandscape</key>
			<string>navigation_bar_background_landscape.png</string>
			<key>BackgroundLogoLandscape</key>
			<string>navigation_bar_background_logo_landscape.png</string>
			<key>BottomShadow</key>
			<string>navigation_bar_bottom_shadow.png</string>
		</dict>
		<key>NavigationBar</key>
		<dict>
			<key>Background</key>
			<string>navigation_bar_background.png</string>
			<key>BackgroundLogo</key>
			<string>navlogo1.png</string>
			<key>BackgroundLandscape</key>
			<string>navigation_bar_background_landscape.png</string>
			<key>BackgroundLogoLandscape</key>
			<string>navlogo1_land.png</string>
			<key>BottomShadow</key>
			<string>navigation_bar_bottom_shadow.png</string>
		</dict>
		<key>SearchBar</key>
		<dict>
			<key>Field</key>
			<string>search_bar_field_image.png</string>
		</dict>
		<key>ModuleCells</key>
		<dict>
			<key>BackgroundPattern</key>
			<string>module_cell_background@2x.png</string>
			<key>Buttons</key>
			<dict>
				<key>Installing</key>
				<string>module_cell_button_installing.png</string>
				<key>Buying</key>
				<string>module_cell_button_buying.png</string>
				<key>Downloading</key>
				<string>module_cell_button_download2.png</string>
				<key>Checking</key>
				<string>module_cell_button_checking.png</string>
				<key>DownloadBar</key>
				<dict>
					<key>Foreground</key>
					<string>module_cell_download_bar_foreground.png</string>
					<key>Background</key>
					<string>module_cell_download_bar_background.png</string>
				</dict>
				<key>Shop</key>
				<string>module_cell_button_shop.png</string>
				<key>Info</key>
				<string>module_cell_button_info.png</string>
				<key>Update</key>
				<string>module_cell_button_update.png</string>
			</dict>
		</dict>
		<key>Shop</key>
		<dict>
			<key>Buttons</key>
			<dict>
				<key>Installing</key>
				<string>shop_box_installing.png</string>
				<key>Buying</key>
				<string>shop_box_purchasing.png</string>
				<key>Downloading</key>
				<string>shop_box_downloading.png</string>
				<key>Checking</key>
				<string>shop_box_checking.png</string>
				<key>DownloadBar</key>
				<dict>
					<key>Foreground</key>
					<string>module_cell_download_bar_foreground.png</string>
					<key>Background</key>
					<string>module_cell_download_bar_background.png</string>
				</dict>
				<key>Purchase</key>
				<string>shop_button_purchase.png</string>
				<key>Restore</key>
				<string>shop_button_restore.png</string>
				<key>Update</key>
				<string>shop_button_update.png</string>
			</dict>
		</dict>
	</dict>
	<key>Arrays</key>
	<dict>
		<key>Manual</key>
		<array>
			<array>
				<string>Startseite</string>
				<array>
					<string>pdf::start</string>
					<array>
						<string>Shop</string>
						<string>pdf::shop</string>
					</array>
				</array>
			</array>
			<array>
				<string>Übersicht Lerninhalte</string>
				<array>
					<string>pdf::contentarea</string>
					<array>
						<string>Lerninhalte</string>
						<string>pdf::contents</string>
					</array>
					<array>
						<string>Suchfunktion</string>
						<string>pdf::search</string>
					</array>
					<array>
						<string>Favoriten</string>
						<string>pdf::favorites</string>
					</array>
					<array>
						<string>Notizen</string>
						<string>pdf::notes</string>
					</array>
					<array>
						<string>Lernstatistik</string>
						<string>pdf::stats</string>
					</array>
				</array>
			</array>
			<array>
				<string>Lernkartenansicht</string>
				<array>
					<string>pdf::documentview</string>
					<array>
						<string>Thumbnails-Leiste</string>
						<string>pdf::thumbnails</string>
					</array>
					<array>
						<string>Werkzeug-Leiste</string>
						<string>pdf::toolbar</string>
					</array>
					<array>
						<string>Notizen</string>
						<string>pdf::notes2</string>
					</array>
				</array>
			</array>
		</array>
	</dict>
	<key>Dictionaries</key>
	<dict>
		<key>Shop</key>
		<dict>
			<key>Restore</key>
			<dict>
				<key>Title</key>
				<string>Wiederherstellung</string>
				<key>Body</key>
				<string>Möchten Sie diese Lernbox zur Wiederherstellung erneut herunterladen?</string>
			</dict>
		</dict>
		<key>Imprint</key>
		<dict>
			<key>Imprint</key>
			<string>imprint.html</string>
			<key>AGBs</key>
			<string>agbs.html</string>
			<key>ImageCredits</key>
			<string>imageCredits.html</string>
			<key>Recommend</key>
			<dict>
				<key>AlertTitle</key>
				<string>Einem Freund empfehlen</string>
				<key>CheckEmailSettings</key>
				<string>Bitte überprüfen Sie Ihre E-Mail-Einstellungen und versuchen Sie es erneut!</string>
				<key>ErrorEmailSettings</key>
				<string>Es ist ein Fehler aufgetreten! Bitte überprüfen Sie Ihre E-Mail-Einstellungen und versuchen Sie es erneut!</string>
				<key>ThanksForRecommending</key>
				<string>Danke für die Empfehlung unseres Produktes!</string>
				<key>BodyFile</key>
				<string>recommendation.txt</string>
				<key>Subject</key>
				<string>Schau mal - die Abi-Lernbox-App von Klett</string>
			</dict>
		</dict>
		<key>TwoMethods</key>
		<dict>
			<key>File</key>
			<string>methods.html</string>
		</dict>
		<key>About</key>
		<dict>
			<key>File</key>
			<string>about.html</string>
		</dict>
		<key>InfoCells</key>
		<dict>
			<key>NoFavorites</key>
			<string>Sie haben noch keine Favoriten.</string>
			<key>NoNotes</key>
			<string>Sie haben noch keine Notizen.</string>
			<key>DemoContent</key>
			<string>Die komplette Abi-Lernbox [MODULE_NAME] erhalten Sie als In-App-Kauf im Shop dieser App.</string>
		</dict>
		<key>Search</key>
		<dict>
			<key>NoResults</key>
			<string>Keine Ergebnisse</string>
		</dict>
		<key>Alerts</key>
		<dict>
			<key>ModuleLoadError</key>
			<dict>
				<key>Title</key>
				<string>Hinweis</string>
				<key>Message</key>
				<string>Es ist ein Fehler beim Laden der Inhalte für das Fach &apos;%@&apos; aufgetreten. Bitte laden Sie die Inhalte erneut herunter, indem Sie die Restore-Funktion verwenden.</string>
			</dict>
			<key>RestoreAllFinished</key>
			<dict>
				<key>Title</key>
				<string>Restore</string>
				<key>Message</key>
				<string>Es wurden alle Inhalte erfolgreich wiederhergestellt.</string>
			</dict>
			<key>RestoreAllBegin</key>
			<dict>
				<key>Title</key>
				<string>Restore</string>
				<key>Message</key>
				<string>Möchten Sie alle bereits gekauften Inhalte wiederherstellen?</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
